.header {
  min-height: 82px;
  text-align: center;
  align-items: center;
  flex-shrink: 0;
  margin: 45px auto 0;
  width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  transition: all .3s ease-out;
}

@media screen and (max-width: 980px) {
  .header {
    width: 90%;
    }
  }

@media screen and (max-width: 730px) {
  .header {
    width: 100%;
    margin: 28px auto 0;
    }
  }
