.popup__title {
  max-width: calc(100% - 28px);
  padding-bottom: 54px;
  margin: 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 570px) {
  .popup__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 75px;
    }
  }

