.login__input {
  margin: 0;
  padding-bottom: 0;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
  border-bottom: 2px solid #ccc;
  background: none;
}

.login__input:nth-last-of-type {
	margin-top: 30px;
}
