.profile__name {
  max-width: 294px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: name;

}

@media screen and (max-width: 730px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    width: 189px;
    text-align: center;
  }
}
