.header__info {
  top: -150px;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
  padding: 40px 0;
  background-color: #000;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 730px) {
  .header__info {
    flex-direction: row;
    justify-content: end;
    gap: 24px;
    padding: 0;
    border-bottom: none;
    position: static;
  }
}


