.popup__button-close {
  padding: 0;
  width: 32px;
  height: 32px;
  left: 100%;
  bottom: 100%;
  margin: 0 0 8px 8px;
  position: absolute;
  background-image: url(../../../images/button_close.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  border: none;
  color: #fff;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: .6;
}

@media screen and (max-width: 570px) {
  .popup__button-close {
    background-size: 20px;
    height: 20px;
    width: 20px;
    margin: 0 0 16px;
    left: 92%;
    }
  }
